

/* Tags */
html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Martel', serif;
    font-weight: 700;
    text-align: center;
}

h2 {   
    font-size:  4rem;
    line-height: 5rem;
}
h3 {
    font-size:  2.4rem;
    line-height: 3.2rem;
}
/* TODO: Cambiar h5 x h4 y h6 por h5, eliminar h6 */
h5 {
    font-size:  1.6rem;
    line-height: 2.4rem;
}
h6 {
    font-size:  1.4rem;
    line-height: 2.4rem;
}

/* ids */

/* class */
.header, .footer {
    background-color: darksalmon;
}

.main {
    background-color: lightgreen;
}

.bg-main-content {
    background: url(./images/cover-legal-pro.png);
}

/* Mobile First: Ataca primero los dispositivos pequenios */
.container {
    max-width: 100%;
    /* padding: 0 20px; */
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px dotted blue;
}

/* Los dispositivos mas grandes basados en este enfoque se deben atacar dentro de media queries */
@media screen and ( min-width: 567px ) {
    .container {
        max-width: 540px;
    }
}

@media screen and ( min-width: 768px ) {
    .container {
        max-width: 720px;
    }
}

@media screen and ( min-width: 992px ) {
    .container {
        max-width: 960px;
    }
}

@media screen and ( min-width: 1200px ) {
    .container {
        max-width: 1140px;
    }
}

@media screen and ( min-width: 1400px ) {
    .container {
        max-width: 1320px;
    }
}
